html {
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.5rem;
    line-height: 1.5rem;
    background-color: white;
    color: black;
}

a {
    color: black;
    text-decoration: underline;
}

.external {
    text-decoration-style: dashed;
}

a:visited {
    color: grey;
}


/*a::before {
    content: "{";
}

a::after {
    content: "}";
}

.external::before {
    content: "[";
}

.external::after {
    content: "]";
}*/

a:hover {
    background-color: black;
    color: white;
}

.external:hover {
    background-color: deeppink;
    color: white;
}

h1,
h2,
h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    vertical-align: baseline;
    text-transform: lowercase;
}

h1::after,
h2::after,
h3::after {
    content: ".";
}

td h1 {
    text-transform: none;
}

td h1::after {
    content: "";
}

.split {
    margin-top: 1rem;
}

table {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

td h1,
td h2 {
    margin: 0px;
}

td {
    vertical-align: baseline;
    padding: 0px;
}

.listitem {
    margin-left: 1.5rem;
    vertical-align: middle;
}

.listitem2 {
    margin-left: 3rem;
    vertical-align: middle;
}

.listmark {
    /* ※ */
}

img {
    max-width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
}

.bigimg {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.bigimg img {
    max-height: 500px;
}

.midimg {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 50%;
}

.midimg img {
    max-height: 300px;
}

.bigimg img,
.midimg img {
    margin: initial;
}

td img {
    margin: initial;
}

th {
    background-color: rgba(0, 0, 0, 0.2);
}

.changelogtablesizetd {
    padding-right: 2rem;
    padding-left: 2rem;
}

.separator {
    border-top: 1px solid black;
}