html{
    margin: none;
    border-left: 40px solid rgb(152, 152, 255);
}

body {
    max-width: 800px;
    padding: 2rem;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: monospace;
}

img {
    width: auto;
    max-width: 80%;
}

a {
    color: blue;
}

a:visited {
    color: blue;
    text-decoration: line-through;
}