body {
    margin: auto;
    max-width: 1024px;
    padding: 2rem;
    box-sizing: border-box;
    background-color: white;
    background-color: gray;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: auto;
    max-width: 80%;
}

a {
    color: black;
}

a:visited {
    color: black;
    text-decoration: line-through;
}