/* PAGE BODY */
body {
    padding: 4em 2em;
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    font-style: normal;
    font-size: 14px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    color: rgb(128, 38, 0);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

/* TITLE */
h1 {
    text-shadow: 2px 2px 0px white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

/* HEADER */
h2 {
    margin-top: 0px;
    margin-bottom: 0.2rem;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: -0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0px;
    border: white;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* SUBHEADER */
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* images for IMAGE and LINKIMAGE */
img {
    margin-bottom: 0px;
}

/* LINK */
.link {
    color: rgb(0, 51, 255);
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* LINKIMAGE */
.linkimage {
    text-decoration: none;
    background: none;
}

/* FOOTNOTE */
.footnote
{
    font-size: 80%;
}

/* LISTITEM */
.list_item
{
    margin-left: 1rem;
}

/* Spacing between titles, headers and images, and text */

.small_separator {
    height: 0.5rem;
}

/* Mid spacing above headers and below titles and above subheaders*/

.mid_separator {
    height: 1rem;
}

/* Big spacing above titles and headers*/

.big_separator {
    height: 2rem;
}

/* Styling for the note that mentions that the website was compiled with WebSCFL */
.compilenote{
    font-size: 10px;
    text-align: center;
    margin-top: 1rem;
}

/* --- User Defined Styling for Images --- */

.cartridge {
    max-height: 200px;
}

.diskette {
    max-height: 200px;
}

.lartusigil {
    max-height: 150px;
    margin: auto;
    display: block;
}